{#
/**
 * @file flag_list_item.html.twig
 * Default theme implementation to present Flag list item data.
 *
 * This template is used when viewing Flag list item pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_flag_list_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('flag_list_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
