{#
/**
 * @file flagging_collection.html.twig
 * Default theme implementation to present Flagging collection data.
 *
 * This template is used when viewing Flagging collection pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_flagging_collection()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('flagging_collection') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
